/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2018, 9:09:26 PM
    Author     : sharath nair <sharath.nair@polarcus.com>
*/

.jfx-progress-bar > .track,
.jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.progress-bar > .bar{
    /*-fx-background-color: #3a3f44;*/
    -fx-background-color: #04c;
    
}

.progress-bar > .track{
    /*-fx-background-color: #04c;*/
    -fx-background-color: #3a3f44;
}